/* projects_style.css */

CSS selector {
	font-family: 'Arimo', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Quattrocento', serif;
}

.red {background-color: :#F00;}
.green {background-color: #0F0;}
.blue {background-color: #00F;}

body {

	background: #747578;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.header {
	font-family: 'Raleway', sans-serif;
	font-size:11pt;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header > .col-12 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24pt;
	color:white;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header a:link {color:#A9A9A9}      /* unvisited link */
.header a:visited {color:white}  /* visited link */
.header a:hover {color:black}  /* mouse over link */
.header a:active {color:gray}  /* selected link */
.header a:link {text-decoration:none;}

.text_container a:link {color:#A9A9A9; text-decoration:none;}      /* unvisited link */
.text_container a:visited {color:#A9A9A9}  /* visited link */
.text_container a:hover {color:black}  /* mouse over link */
.text_container a:active {color:gray}  /* selected link */

#title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24pt;
	color:white;
}


.carousel.carousel-fade .item {
  opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:;
}

.text_container {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	color:#E8E8E8;
}

.text_container p:first-child {
	font-size: 16pt;
}

.footer {
	font-family: 'Lato', sans-serif;
	font-size: 8pt;
	color:#E8E8E8;
}

