/* style.css */
.red {background-color: :#F00;}
.green {background-color: #0F0;}
.blue {background-color: #00F;}

body {

	background: #747578;
}

img {
	max-width: 100%;
	max-height: 100%;
}

CSS selector {
	font-family: 'Arimo', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Quattrocento', serif;
}

.header {
	font-family: 'Raleway', sans-serif;
	font-size:16pt;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header .col-12 {
	padding: 0px;
}

.header p:last-child {
	margin: 0px 0px 15px;
}

.header > .col-10 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30pt;
	color:white;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header a:link {color:#A9A9A9}      /* unvisited link */
.header a:visited {color:white}  /* visited link */
.header a:hover {color:black}  /* mouse over link */
.header a:active {color:gray}  /* selected link */
.header a {text-decoration:none;}

.container {

	padding-left: 0px;
}

.project_tile {

	width: 240px;
	height: 228px; 
	padding: 0px;
	margin:15px 0px 15px 0px;
}

.project_tile .right {

	padding-left: 0px;
	margin-left: 0px;

}

.row {


	margin: 0px;
}

.header .row {

	padding: 0px;
}

.wrap_mouseover {
	position: relative;
	width:240px;
	height:228px;

}

.image-overlay {
	width: 240px;
	height: 228px;
	background-color: black;
	opacity: 0.8;
	display: none;
	position: absolute;
	top: 0px;
}

.image-overlay p {

	position: absolute;
	padding-left: 10px;
	color: white;
	font-size: 8pt;
	color: #EDEDED;
	bottom:0;

}

.row .col-1 {

	max-width: 16px;

}

.footer {
	font-family: 'Lato', sans-serif;
	font-size: 8pt;
	color:#E8E8E8;
}


/*
.rollover_img {

width: 280px;

height: 150px;

background-image: url(land.jpg); 

background-position: top;

-moz-border-radius:10px;

-webkit-border-radius:10px;

border:10px solid #ccc;

font:13px normal Arial, Helvetica, sans-serif;

line-height:18px;

float:left;

margin:0 10px 10px 0;

}

rollover_img a {

color: #fff;

width: 280px;

height: 150px;

display: block;

text-decoration: none;

}

.rollover_img a:hover {

background:#000;

opacity:.60;

filter:alpha(opacity=60);

}

.rollover_img a span {

display: none;

width: 280px;

padding:5px;

}

.rollover_img a:hover span {

display: block;

}
*/
